<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="ui form">
  <app-input inputType="text" label="Username" [control]="$any(authForm.controls.username)"></app-input>
  <app-input inputType="password" label="Password" [control]="$any(authForm.controls.password)"></app-input>
  <app-input inputType="password" label="Password Confirmation"
             [control]="$any(authForm.controls.passwordConfirmation)"></app-input>
  <!--  Validations-->
  <div *ngIf="authForm.errors && authForm.get('password')?.touched && authForm.get('passwordConfirmation')?.touched"
       class="ui red basic label">
    <p *ngIf="authForm.errors?.['passwordsDontMatch']">
      Password and Password Confirmation must match
    </p>
    <p *ngIf="authForm.errors?.['noConnection']">
      No internet connection detected, Failed to signup
    </p>
    <p *ngIf="authForm.errors?.['unknownError']">
      No internet connection detected, Failed to signup
    </p>
  </div>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
